.speech{
    font : 'calibri';
    font-size: 16px;
    color:black;
}
.stage-direction{
    font: 'Times New Roman';
    background-color:blanchedalmond;
    font-size: 16px;
    color:black;
}
.name{
    font:'sans-serif';
    font-size: 16px;
    color:black;
}
.stage-direction:hover{
    background-color:cadetblue;
    color:grey;
}
.LORD-GORING{
    color:orange;
}
.JAMES{
    color:red;
}
.LORD-CAVERSHAM{
    color:blueviolet;
}
.ROBERT{
    color:green;
}

table{
    border: solid;
    padding: 30px 35px 40px;
    margin: 50px 50px;
    width: 60%; 
  }
  th{
    color:black;
    border: 1px solid black;
    text-align: left;
    background-color:burlywood;

  }
  td{
    color: black;
    border: 1px mixed black;
    text-align: left;
  }

  tr:nth-child(even){
    background-color: skyblue;
  }
  .name:hover{
    text-shadow: 2px 4px 3px rgb(77, 59, 143);
    color:chartreuse;
    filter: pink(3px);
    border: solid 2px rgb(15, 15, 15);
  }
